body { font-family: sans-serif;
       background: #eee; }

a, h1, h2 { color: #377BA8; }

h1, h2 { font-family: 'Arial', serif;
         margin: 0; }

h1 { border-bottom: 2px solid #eee; }
h2 { border-bottom: 1px solid #eee;
     font-size: 1.2em; }
.page { margin: 2em auto;
        width: 70em;
        border: 5px solid #ccc;
        padding: 0.8em;
        background: white; }

.entries { list-style: none; margin: 0; padding: 0; }
.entries li { margin: 0.8em 1.2em; }
.entries li h2 { margin-left: -1em; }
.add-entry { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl { font-weight: bold; }

.metanav { text-align: left;
           font-size: 0.8em;
           padding: 0.3em;
           margin-bottom: 1em;
           background: #fafafa; }

.flash { background: #CEE5F5;
         padding: 0.5em;
         border: 1px solid #AACBE2; }

.error { background: #F0D6D6;
         padding: 0.5em; }

.zebra tbody tr.even td { background-color: #80FFFF; font-size: 0.6em; }
.zebra tbody tr.odd  td { background-color: #BFFFFF; font-size: 0.6em; }
.zebra tbody th { background-color: #009999; font-size: 0.6em; }

