<!doctype html>
<html>
  <head>
    <title>BricoPuntos</title>
    <link rel=stylesheet type=text/css href="[% css_url %]">
  </head>
  <body>
    <div class=page>
      <h1>BricoPuntos</h1>
      <div class=metanav>
        <a href="[% ranking_url    %]">Clasificación</a>
        <a href="[% transfer_url   %]">Transferencias</a>
      </div>
      [% IF msg %]
      <div class=flash> [% msg %] </div>
      [% END %]
      [% content %]
    </div>
  </body>
</html>
